<mat-toolbar>
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onSidenavToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">{{ user }}:$</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li><a routerLink="/about">/about</a></li>
      <li><a routerLink="/portfolio">/portfolio</a></li>
      <li><a routerLink="/testimonials">/testimonials</a></li>
      <li><a routerLink="/contact">/contact</a></li>
    </ul>
  </div>
</mat-toolbar>
